* {
  box-sizing: border-box;
}
:root {
  --font-heading: "Sen", serif;
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}

/*khôi phục lại cỡ chữ theo rem*/
body {
  font-size: 1.6rem;
  font-family: "Poppins", serif;
}
/* =======================Thuộc tính áp dụng chung==========================*/
a {
  text-decoration: none;
}
.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27;
  /* khoảng cách giữa các chữ */
  letter-spacing: -0.76px;
}
.main-content {
  width: 1170px;
  /* căn giữa */
  margin-left: auto;
  margin-right: auto;
  /* chỉnh co lại màn hình */
  max-width: calc(100% - 48px);
}

/* dùng cho trường hợp chữ nhiều chuyển thành dấu 3 chấm sẽ không 
bị vỡ giao diện  */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* quá 2 dòng sẽ có dấu 3 chấm */
.line-clamp.line-2 {
  --line-clamp: 2;
}

/* xóa phần  */
.break-all {
  word-break: break-all;
}
.btn {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background-color: #171100;
  display: inline-block;
  padding: 0 16px;
  line-height: 50px;
  min-width: 118px;
}

.btn:hover {
  /* hiệu ứng làm mờ */
  opacity: 0.8;
  cursor: pointer; /*hiển thị dấu tay*/
}

/* ===================================================================HEADER======================================================= */
.header {
  background-color: #fffcf4;
}

/* đủ thanh cuộn theo thẻ cha gần nhất */
.header.fixed {
  position: sticky;
  top: -28px; /*đến âm 28px sẽ dừng lại*/
  z-index: 1;
}
.header .body {
  display: flex;
  align-items: center;
  /* background-color: rgb(26, 88, 142); */
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}

.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  /* tạo bóng đổ */
  text-shadow: 1px 0 0 currentColor;
}

/* thêm gạch sau thẻ a */
.nav li.active a::after {
  /* tại vì thẻ là inline nên không thấy phải dể lại là block */
  display: block;
  content: "";
  background-color: #171100;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  position: absolute;
  left: 21px;
  bottom: 6px;
}
.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}
/* =====================               Hero left               ======================== */
.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}

/* ============hero left========= */
.hero .media-block {
  width: 48%;
  position: relative;
}

/* khi người dùng thay ảnh sẽ không bị vỡ giao diện */
.hero .media-block .img {
  border-radius: 20px;
  height: 685px;
  width: 470px;
  /* không bị vỡ ảnh */
  object-fit: cover;
}

.hero .hero-summary {
  padding: 24px;
  width: 270px;
  position: absolute;
  bottom: 48px;
  right: 0;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.hero-summary .item {
  align-items: center;
  display: flex;
}

.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.hero-summary .icon2 {
  background-color: #fcefff;
}

.hero-summary .icon3 {
  background-color: #ebeaff;
}
/* ===================hero right ================*/
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}

.hero .cta-group {
  margin-top: 38px;
  align-items: center;
  display: flex;
}

.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background-color: var(--primary-color);
}

.hero .watch-video {
  margin-left: 28px;
  /* bỏ các viền của button */
  border: none;
  /* viền trong suốt */
  background-color: transparent;
  display: flex;
  align-items: center;
  /* di chuột vào hiện bàn tay */
  cursor: pointer;
}

.hero .watch-video .icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.hero .desc-recent {
  margin-top: 48px;
}

.hero .stats {
  margin-top: 8px;
}
.hero .stats strong {
  margin-left: 15px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
}
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}

/* =====================Popular========================== */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}

.popular-top {
  display: flex;
  justify-content: space-between; /* để giãn kịch về 2 phía */
  align-items: center;
}
.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}
.popular-top .controls {
  display: flex;
  gap: 18px; /* khoảng cách giữa 2 nút */
}

.popular-top .control-btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.popular-top .control-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer; /* hiện bàn tay */
}

.popular .thumb {
  height: 278px;
  width: 100%;
  object-fit: cover; /*ép ảnh đẹp cắt phần thừa*/
  border-radius: 12px 12px 0px 0px;
}
.popular .course-item {
  border-radius: 12px;
  background-color: #6f1593;
  border: 1px solid #e2dfda;
}

.popular .course-item:hover {
  border-radius: 12px;
  background-color: #c597d9;
  box-shadow: 0 16px 38px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
}

.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.popular .course-item .info {
  padding: 16px 22px 22px;
}

.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular .course-item .title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.popular .rating .value {
  margin-left: 6px;
  color: #fea31b;
  font-size: 16px;
  line-height: 1.75;
}

.popular .course-item .desc {
  margin-top: 6px;
  color: #050c06;
  font-size: 1.4rem;
  line-height: 1.86;
}

.popular .course-item .foot {
  margin-top: 12px;
}

.popular .course-item .price {
  color: #171100;
  font-size: 1.8rem;
  line-height: 1.67;
  font-weight: 600;
}

.popular .course-item .btn-book {
  border: none;
}

.popular .course-item .btn-book:hover {
  background-color: var(--primary-color);
}

/* =======================feedback =============================*/
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background-color: #2e2100;
}

.feedback .feedback-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback-item .avata {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-item .info .member-name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
}

.feedback-item .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
}

.feedback-item .dots {
  gap: 6px;
  margin-top: 28px;
  display: flex;
}

.feedback-item .dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.feedback-item .dot.active {
  background: var(--primary-color);
  cursor: default;
}
.feedback-item .content {
  width: 66%;
}

.feedback-item blockquote {
  color: #fff;
  font-style: italic;
  font-size: 2.6rem;
  line-height: 1.54;
}

/* ======================================Features 1 ====================================== */
.features {
  margin-top: 135px;
  padding: 65px 0;
}

.features .body {
  display: flex;
  justify-content: space-between;
}

.features .images {
  display: flex;
  gap: 30px;
}

.features .images img {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}

.features .lower {
  margin-top: 34px;
}

.features .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features .desc {
  margin-top: 16px;
  color: #050c06;
  font-size: 1.6rem;
  line-height: 1.75;
}

.features .cta-btn {
  margin-top: 32px;
  width: 137px;
  height: 50px;
  background: var(--primary-color);
}

/* ======================================Features 2 ====================================== */

.features-2nd {
  margin-top: 70px;
}
.features-2nd .body {
  flex-direction: row-reverse; /*đổi chiều chục main nằm ngang*/
}
.features-2nd .content {
  width: 49%;
}

.features-2nd .images img {
  width: 470px;
  height: 440px;
}

/* ======================================Blog 2 ====================================== */
.blogs {
  margin-top: 135px;
  padding: 96px 0;
  background: #fffcf4;
}

.blogs .blog-top {
  text-align: center;
}

.blogs .blog-top .desc {
  width: 448px; /*có độ rộng giờ nó sẽ căn giữa độ rộng  này nên nó không nằm giữa bốc cha*/
  color: #696262;
  font-size: 1.6rem;
  line-height: 1.75;
  /* cách căn giữa */
  margin: 16px auto 0;
}

.blogs .blog-list {
  gap: 30px;
  display: flex;
  margin-top: 55px;
  overflow: hidden; /*ẩn phần thừa để học js sau này*/
}

.blogs .item {
  width: calc(33.33% - 20px);
  background: #6f1593;
  border-radius: 16px;
  flex-shrink: 0; /*tạo hiệu ứng trượt khi học js*/
}

.blogs .item:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  background: #bf76db;
}
.blogs .item .thumb {
  height: 250px;
  width: 100%;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}

.blogs .item .info {
  padding: 20px 20px 28px;
}

.blogs .item .date {
  position: relative; /*cho th con căn theo cha nó*/
  color: #050c06;
  font-size: 1.4rem;
  line-height: 1.86;
  /* giờ thẻ before sẽ dc coi như là 1 thẻ con của date vậy nên h tác dụng flex tác động lên nó dc */
  display: inline-flex; /*chỉ chứa vừa nội dung thôi*/
  align-items: center;
  padding-bottom: 12px;
}

/* làm dấu chấm nhỏ trước thẻ span*/
.blogs .item .date::before {
  content: "";
  background: var(--primary-color);
  /* phải dùng display: inline-block mới xét đc kích thước*/
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 4px;
  border-radius: 50%;
}

/* tạo dấu gạch chân sau nhỏ dưới thẻ span*/
.blogs .item .date::after {
  content: "";
  display: inline-block;
  height: 1px;
  border-radius: 0.5px;
  background: #aa65cc;
  /* vì nó là con của date nên dùng position để tách và căn theo thk da là chỉnh xuống dòng dc */
  position: absolute;
  left: 0;
  bottom: 0;
  right: -27px; /*thay cho chiều rộng */
}

.blogs .item .title {
  margin-top: 12px;
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.blogs .item .btn {
  margin-top: 12px;
  font-size: 1.4rem;
}

.blogs .item .btn:hover {
  background: var(--primary-color);
}

.blogs .dots {
  display: flex;
  gap: 6px;
  justify-content: center;
}
.blogs .dot {
  margin-top: 38px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #5f5b53;
  cursor: pointer;
}

.blogs .dot.active {
  background: var(--primary-color);
  cursor: default;
}

/* ======================================Footer====================================== */
footer {
  background: #2e2100;
  padding: 96px 135px 0;
}

.footer .row {
  display: flex;
  padding-bottom: 38px;
  border-bottom: 1px solid #59554b;
}

.footer .row .column {
  width: 21.6%;
}
.footer .row .column:first-child {
  width: 35%;
}

.footer .desc {
  margin-top: 18px;
  max-width: 267px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
}

.footer .socials {
  display: flex;
  gap: 18px;
  margin-top: 18px;
}

.footer .title {
  padding-bottom: 14px;
  padding-right: 48px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  /* dùng border để làm dấu gạch*/
  border-bottom: 1px solid #59554b;
  display: inline-block; /* để dấu gạch dài theo chiều dài chữ*/
}

.footer .list {
  margin-top: 28px;
}

.footer .list a {
  color: #bfbcb2;
  font-size: 1.4rem;
  height: 1.86;
  display: inline-block; /*để chỉnh sửa kích thước*/
  margin-bottom: 12px;
}

.footer .list li:last-child {
  margin-bottom: 0;
}

.footer .list strong {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86;
}

.footer .copyright {
  padding: 28px 0;
  color: #807d74;
  text-align: center; /* căn theo trục x*/
  font-size: 1.4rem;
  line-height: 1.86;
}
